/* CSS declarations go here */
/*
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Fixed {
    position: fixed;
    z-index: 999;
}

.Absolute-Center.is-Variable {
    display: table;
    height: auto;
}*/

